# Add any directories, files, or patterns you don't want to be tracked by version control

# IDEs
.vscode
.idea
.atom

# Golang binary
cli
.syncthing*
bin/*
coverage.txt
coverage.html
dist

# don't add the binary created by running go build from the root of the repo
/okteto

# lint
golangci-report.xml
