---
# https://pre-commit.com/
default_stages: [pre-commit, pre-push]
default_language_version:
  python: python3
  node: 24.12.0
minimum_pre_commit_version: '3.2.0'
repos:
  - repo: meta
    hooks:
      - id: identity
        name: run identity check
        description: a simple hook which prints all arguments passed to it, useful for debugging
      - id: check-hooks-apply
        name: run check-hooks-apply
        description: ensures that the configured hooks apply to at least one file in the repository
  - repo: local
    hooks:
      - id: prettier
        name: run prettier
        description: format files with prettier
        entry: prettier --write '**/*.json' '**/*.md' '**/*.yaml' '**/*.yml'
        files: \.(json|md|ya?ml)$
        language: node
        pass_filenames: false
        additional_dependencies: ['prettier@3.7.4']

  # check for secrets
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks
        name: run gitleaks
        description: detect hardcoded secrets with gitleaks

  # general checks for the repository
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        description: prevent giant files from being committed
      - id: check-ast
        description: simply check whether files parse as valid python
      - id: check-case-conflict
        description: check for files with names that would conflict on a case-insensitive filesystem like MacOS HFS+ or Windows FA
      - id: check-executables-have-shebangs
        description: checks that non-binary executables have a proper shebang
        exclude: ^scripts/windows\.sh$
      - id: check-illegal-windows-names
        description: check for files that cannot be created on Windows
      - id: check-json
        description: attempts to load all json files to verify syntax
      - id: check-merge-conflict
        description: check for files that contain merge conflict strings
      - id: check-shebang-scripts-are-executable
        description: checks that scripts with shebangs are executable
      - id: check-toml
        description: attempts to load all TOML files to verify syntax
      - id: check-vcs-permalinks
        description: ensures that links to vcs websites are permalinks
      - id: check-xml
        description: attempts to load all xml files to verify syntax
      - id: check-yaml
        description: attempts to load all yaml files to verify syntax
        exclude: ^integration/validate/manifests/invalid-syntax\.yml$|k8s\.yml$
      - id: detect-aws-credentials
        description: checks for the existence of AWS secrets that you have set up with the AWS CLI
        args: [--allow-missing-credentials]
      - id: detect-private-key
        description: checks for the existence of private keys
        exclude: ^pkg/k8s/secrets/certs\.go$|^pkg/syncthing/certs\.go$|^pkg/deployable/certs\.go$
      - id: end-of-file-fixer
        description: makes sure files end in a newline and only a newline
        exclude: schema.json
      - id: fix-byte-order-marker
        description: removes UTF-8 byte order marker
      - id: forbid-submodules
        description: forbids any submodules in the repository
      - id: mixed-line-ending
        description: replaces or checks mixed line ending
      - id: trailing-whitespace
        description: trims trailing whitespace
        exclude: ^\.github/pull_request_template\.md$

  # check spelling though all the repository
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        name: run codespell
        description: Check Spelling with codespell
        entry: codespell -L ba,flate,ges,indx,keypair,splitted,vertexes --exclude-file=go.sum

  # markdown checks
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.47.0
    hooks:
      - id: markdownlint
        name: run markdownlint
        description: check Markdown files with markdownlint
        args: [--config=.github/linters/.markdown-lint.yml]
        exclude: ^samples/
        types: [markdown]
        files: \.md$

  # shell checks
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
        name: run shellcheck
        description: check Shell scripts with shellcheck
        exclude: ^samples/|^scripts/ci/push-image.sh

  # yaml files check
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        name: run yamllint
        description: Check YAML files with yamllint
        args: [--strict, -c=.github/linters/.yaml-lint.yml]
        types: [yaml]
        files: \.ya?ml$
        exclude: ^integration/validate/manifests/invalid-syntax\.yml$
