---
# https://pre-commit.com/
default_stages: [pre-commit, pre-push]
default_language_version:
  # force all unspecified Python hooks to run python3
  python: python3
minimum_pre_commit_version: '3.2.0'
repos:
  - repo: meta
    hooks:
      - id: identity
        name: run identity check
      - id: check-hooks-apply
        name: run check-hooks-apply
  # general checks for the repository
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks
        name: run gitleaks
        description: detect hardcoded secrets with gitleaks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
        exclude: ^scripts/windows\.sh$
      - id: check-illegal-windows-names
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
        exclude: ^integration/validate/manifests/invalid-syntax\.yml$|k8s\.yml$
      - id: detect-private-key
        exclude: ^pkg/k8s/secrets/certs\.go$|^pkg/syncthing/certs\.go$|^pkg/deployable/certs\.go$
      - id: end-of-file-fixer
        exclude: schema.json
      - id: fix-byte-order-marker
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: ^\.github/pull_request_template\.md$

  # shell and markdown checks
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
      - id: shellcheck
        name: run shellcheck
        exclude: ^samples/|^scripts/ci/push-image.sh
      - id: markdownlint
        name: run markdownlint
        exclude: ^samples/

  # check spelling though all the repository
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        name: run codespell
        description: Check Spelling with codespell
        entry: codespell -L ba,flate,ges,indx,keypair,splitted,vertexes --exclude-file=go.sum

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        name: run prettier
        description: Format files with prettier
        exclude: schema.json

  # yaml files check
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        name: run yamllint
        description: Check YAML files with yamllint
        entry: yamllint --strict -c .yaml-lint.yml
        types: [yaml]
        files: \.(ya?ml)$
        exclude: ^integration/validate/manifests/invalid-syntax\.yml$
