---
# https://pre-commit.com/
default_stages: [pre-commit, pre-push]
default_language_version:
  python: python3
  node: 22.19.0
minimum_pre_commit_version: '3.2.0'
repos:
  - repo: meta
    hooks:
      - id: identity
        name: run identity check
      - id: check-hooks-apply
        name: run check-hooks-apply
  - repo: local
    hooks:
      - id: prettier
        name: run prettier
        description: format files with prettier
        entry: prettier --write '**/*.json' '**/*.md' '**/*.yaml' '**/*.yml'
        files: \.(json|md|ya?ml)$
        language: node
        additional_dependencies: ['prettier@3.6.2']
  # general checks for the repository
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
        exclude: ^scripts/windows\.sh$
      - id: check-illegal-windows-names
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
        exclude: ^integration/validate/manifests/invalid-syntax\.yml$|k8s\.yml$
      - id: detect-private-key
        exclude: ^pkg/k8s/secrets/certs\.go$|^pkg/syncthing/certs\.go$|^pkg/deployable/certs\.go$
      - id: end-of-file-fixer
        exclude: schema.json
      - id: fix-byte-order-marker
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: ^\.github/pull_request_template\.md$

  # shell and markdown checks
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
      - id: shellcheck
        name: run shellcheck
        exclude: ^samples/|^scripts/ci/push-image.sh
      - id: markdownlint
        name: run markdownlint
        exclude: ^samples/

  # check spelling though all the repository
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        name: run codespell
        description: Check Spelling with codespell
        entry: codespell -L ba,flate,ges,indx,keypair,splitted,vertexes --exclude-file=go.sum

  # yaml files check
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        name: run yamllint
        description: Check YAML files with yamllint
        entry: yamllint --strict -c .yaml-lint.yml
        types: [yaml]
        files: \.(ya?ml)$
        exclude: ^integration/validate/manifests/invalid-syntax\.yml$
