---
# https://pre-commit.com/
default_stages: [commit, push]
default_language_version:
  # force all unspecified Python hooks to run python3
  python: python3
minimum_pre_commit_version: '1.20.0'
repos:
  - repo: meta
    hooks:
      - id: identity
      - id: check-hooks-apply
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
        exclude: ^scripts/windows\.sh$
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: detect-private-key
        exclude: ^pkg/k8s/secrets/certs\.go$|^pkg/syncthing/certs\.go$|^cmd/deploy/certs\.go$
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: pretty-format-json
        args: [--autofix, --indent=4, --no-sort-keys]
      - id: trailing-whitespace
        exclude: ^\.github/pull_request_template\.md$
      - id: check-json
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 2.1.5
    hooks:
      - id: shellcheck
      # - id: shfmt
  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        name: Run codespell
        description: Check Spelling with codespell
        entry: codespell --ignore-words=codespell.txt
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        exclude: ^\.vscode/tasks\.json$
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.30.0
    hooks:
      - id: markdownlint
        name: Run markdownlint
        description: Checks the style of Markdown files
        entry: markdownlint -c .github/linters/.markdown-lint.yml .
        types: [markdown]
        files: \.(md|mdown|markdown)$
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.26.3
    hooks:
      - id: yamllint
        name: Run yamllint
        description: Check YAML files with yamllint
        entry: yamllint --strict -c .github/linters/.yaml-lint.yml
        types: [yaml]
        files: \.(yaml|yml)$
  - repo: local
    hooks:
      - id: sort-codespell-wordlist
        name: Sort codespell.txt
        description: Sort alphabetically and uniquify codespell.txt
        entry: ./scripts/ci/pre-commit/sort-codespell-wordlist.sh
        language: system
        files: ^\.pre-commit-config\.yaml$|^codespell\.txt$
        require_serial: true
