# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# See https://blog.github.com/2017-07-06-introducing-code-owners/ for details
*       @pchico83 @rberrelleza @rlamana