@import 'colors.scss';
@import 'fonts.scss';

.Input {
  background: $navy-700;
  border: 1px solid $navy;
  border-radius: 3px;
  color: rgba($white, .8);
  font-family: $title-font;
  font-size: 14px;
  padding: 8px 10px;

  &:active,
  &:focus {
    outline: 0;
    box-shadow: $blue-600 0 0 0 1px;
  }

  &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: .3;
    font-style: italic;
  }
}