@import 'colors.scss';
@import 'fonts.scss';

.Input {
  box-sizing: border-box;
  background: $navy;
  border: 1px solid $navy;
  border-radius: 3px;
  color: rgba($white, .8);
  font-family: $title-font;
  font-size: 14px;
  padding: 8px 10px;

  &:active,
  &:focus {
    outline: 0;
  }

  &::placeholder {
    color: white;
    opacity: .3;
    font-style: italic;
  }

  &.light {
    background: white;
    border: 1px solid rgba(black, .2);
    border-radius: 3px;
    color: $navy-dark;

    &::placeholder {
      color: grey;
    }
  }
}