@import 'colors.scss';
@import 'fonts.scss';

.Notification {
  .toast-container {
    width: 100%;
    top: 0;
    left: 0;
    margin-left: 0;
    padding: 0;

    .toast {
      margin: 0 auto;
      min-height: 32px;
      padding: 18px 12px;
      width: 60%;
      box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);

      &.toast-type-info {
        background-color: $green-600;

        .toast-body {
          color: rgba(white, .8);
        }
      }

      &.toast-type-warning {
        .toast-body {
          color: rgba(white, .8);
        }
      }
      
      .close-button {
        margin-right: 12px;
      }

      .toast-body {
        font-family: $title-font;
        padding: 0 18px;
        margin: 0;
        font-size: 18px;
      }

      .toast-progress {
        height: 2px;
        background: $white-500;
      }
    }
  }
}

@keyframes toastIn {
  from { transform: translateY(-500px); }
  50% { transform: translateY(0); }
}

.toastIn {
  animation-name: toastIn;
}

@keyframes toastOut {
  from { transform: translateY(0); }
  90% { transform: translateY(-500px); }
  to { opacity: 0; }
}

.toastOut {
  animation-name: toastOut;
}

.animateToast {
  animation-duration: 800ms;
}