@import 'colors.scss';

.Select {
  .Select__control {
    background: $navy;
    border: 1px solid $navy;
    border-radius: 3px;
    font-size: 14px;
    padding: 0px;
    padding-left: 10px;
    box-sizing: border-box;

    .Select__value-container {
      padding: 0;
    }

    &.Select__control-is-focused,
    &:active {
      box-shadow: none;
      outline: none;
    }

    &:hover {
      border: 1px solid $navy;
    }

    .Select__input {
      color: rgba($white, .8);
      font-size: 14px;
      
      input {
        padding: 2px 10px;
      }
    }
  }

  .Select__single-value {
    color: $white;
  }

  .Select__placeholder {
    color: rgba($white, .5);
  }

  .Select__indicator {
    color: rgba($white, .7);
  }

  .Select__indicator-separator {
    background-color: rgba($white, .3);
  }

  .Select__menu {
    border-radius: 2;
    color: $black;
    z-index: 10000;
    margin-top: 0;
  }

  .Select__multi-value {
    background-color: $blue-800;

    .Select__multi-value__label {
      color: rgba(white, .8);
      padding: 6px 8px;
      font-weight: 400;
    }

    .Select__multi-value__remove:hover {
      background-color: $blue-900;
      color: white;
    }
  }
}

.Select.light {
  .Select__control {
    background: $white;
    border: 1px solid rgba($black, .2);
    border-radius: 3px;

    &:hover {
      border: 1px solid rgba($black, .4);
    }

    &.Select__control-is-focused,
    &:active {
      box-shadow: none;
      outline: none;
    }

    .Select__input {
      color: rgba($black, .8);
      
      input {
        padding: 2px 10px;
      }
    }
  }

  .Select__single-value {
    color: $black;
  }

  .Select__placeholder {
    color: rgba($black, .5);
  }

  .Select__indicator {
    color: rgba($black, .7);
  }

  .Select__indicator-separator {
    background-color: rgba($black, .3);
  }

  .Select__menu {
    border-radius: 2;
    color: $black;
    z-index: 10000;
  }

  .Select__multi-value {
    background-color: rgba($green-secondary, 1);

    .Select__multi-value__label {
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      padding: 4px 8px 6px 8px;
    }

    .Select__multi-value__remove {
      path { fill: white; }
    }

    .Select__multi-value__remove:hover {
      background-color: $blue-900;
      color: white;
    }
  }
}