@import 'colors.scss';

.Switch {
  $duration: .3s;

  &.rc-switch {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 58px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    border-radius: 4px;
    border: 1px solid #999;
    background-color: rgba(204, 204, 204, 0.5);
    cursor: pointer;
    transition: all $duration cubic-bezier(0.35, 0, 0.25, 1);

    .rc-switch-inner {
      color:#fff;
      font-size: 12px;
      position: absolute;
      left: 28px;
      top: 0;
    }

    &:after {
      position: absolute;
      width: 21px;
      height: 26px;
      left: 2px;
      top: 1px;
      border-radius: 4px;
      background-color: #fff;
      content: " ";
      cursor: pointer;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
      transform: scale(1);
      transition: all $duration cubic-bezier(0.35, 0, 0.25, 1);
      animation-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
      animation-duration: $duration;
      animation-name: rcSwitchOff;
    }

    &:hover:after {
      transform: scale(1.1);
      animation-name: rcSwitchOn;
    }

    &:focus {
      box-shadow: 0 0 0 2px tint(#2db7f5, 80%);
      outline: none;
    }

    &-checked {
      border: 1px solid $blue-800;
      background-color: $blue-600;

      .rc-switch-inner {
        left: 8px;
      }

      &:after{
        left: 33px;
      }
    }

    &-disabled{
      cursor: default;
      border: 1px solid #999;
      background-color: rgba(204, 204, 204, 0.3);
      opacity: .2;

      &:after{
        background: #ebebeb;
        animation-name: none;
        cursor: default;
      }

      &:hover:after{
        transform: scale(1);
        animation-name: none;
      }
    }

    &-label {
      display: inline-block;
      line-height: 20px;
      font-size: 14px;
      padding-left: 10px;
      vertical-align: middle;
      white-space: normal;
      pointer-events: none;
      user-select: text;
    }

    & {
      &.small {
        border: 0;
        background-color: rgba(255, 255, 255, 0.4);
        width: 28px;
        height: 6px;
        top: 0;
        left: 0;

        &:after {
          top: -4px;
          left: 0;
          background-color: #fff;
          border-radius: 24px;
          height: 14px;
          width: 14px;
          box-shadow: 2px 2px 0 0 rgba(0,0,0,0.22);
        }

        .rc-switch-inner {
          display: none;
        }
      }

      &-checked.small {
        background-color: rgba(0, 209, 202, 0.4);

        &:after{
          left: 14px;
          background-color: $green-400;
        }
      }
    }
  }

  @keyframes rcSwitchOn {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.25);
    }
    100% {
      transform: scale(1.1);
    }
  }

  @keyframes rcSwitchOff {
    0% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
}