.CreateDatabase {
  .NameInput {
    margin-top: 6px;
    padding: 8px;
    border: 1px solid rgba(black, .2);
    font-size: 18px;

    &:focus,
    &:active {
      outline: none;
    }

    &::placeholder {
      color: black;
      opacity: .3;
      font-style: italic;
    }
  }
}