.CreateSpace {
  h3 {
    font-weight: 500;
    font-size: 20px;
    margin-top: 36px;
    margin-bottom: 12px;
  }

  &Input {
    margin-top: 8px;
  }

  .NameInput input {
    border: 0;
    text-align: right;
    font-size: 20px;
    padding: 2px 0;
    margin-right: 4px;
    border: 0;
    border-bottom: 1px solid rgba(black, .9);
    border-radius: 0;
    min-width: 80px;
    outline: 0;

    &::placeholder {
      color: black;
      opacity: .2;
      font-style: italic;
    }
  }

  .NameSuffix {
    font-size: 20px;
  }

  .Hints {
    margin-top: 32px;
    font-size: 16px;

    p {
      margin-bottom: 8px;
    }
  }
  
  .Buttons {
    margin-top: 12px;
  }
}