@import 'colors.scss';
@import 'layout.scss';
@import 'fonts.scss';

.MainContainer {
  $side-margin: 32px;

  background: $navy-dark;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 100vh;

  .Header {
    min-height: 110px;
    padding: 0 $side-margin;
    font-size: 34px;
    font-weight: 300;
  }

  .EnvironmentList {
    .EnvironmentItem {
      padding: 20px $side-margin;

      &:nth-child(odd) {
        background-color: $navy;
      }

      &:hover {
        background-color: rgba($white-100, .5);
      }

      .Icon {
        margin-right: 21px;
        margin-left: 8px;
      }
      
      .Name {
        font-size: 22px;
        line-height: 17px;
        font-weight: 500;
        margin-right: 24px;
        width: 100px;
      }

      .Endpoints {
        font-size: 18px;
        font-weight: 300;

        a {
          cursor: pointer;
          color: white;
          
          &:not(:last-child) {
            margin-bottom: 14px;
          }

          &:visited {
            color: white;
          }

          &:hover {
            color: $green-400;
          }
        }
      }
    }

    @media screen and (max-width: 500px) {
      .EnvironmentItem {
        &.layout.horizontal {
          flex-direction: column;
        }

        .Endpoints {
          margin-top: 18px;
          margin-left: 50px;
        }
      }
    }
  }

  .ActionBar {
    padding: 24px $side-margin;

    .NewButtonContainer {
      position: relative;
    }
  }

  .HintNew {
    user-select: text;
    text-align: left;
    font-size: 16px;

    .HintNewContainer {
      padding: 12px 8px;

      h1 {
        margin-bottom: 8px;
        font-size: 32px;
        line-height: normal;
      }

      code {
        cursor: text;
        margin-top: 12px;
        font-family: $code-font;
        background-color: $black;
        padding: 12px 18px;
        color: $white;
        width: 100%;
        box-sizing: border-box;
        border-radius: 3px;
        font-weight: normal;
        font-size: 24px;

        &.cli:before {
          user-select: none;
          content: '$';
          padding-right: 6px;
          color: $green-400;
        }
      }

      .hint-link-buttons {
        width: 100%;
        margin-top: 12px;
      }
    }
  }

  .User {
    position: relative;

    .UserAtom {
      font-size: 20px;
      cursor: pointer;

      .Avatar {
        background-color: $green-600;
        width: 24px;
        height: 24px;
        border-radius: 48px;
        margin-right: 8px;
        overflow: hidden;

        .Icon {
          margin-left: -32px;
          margin-top: -5px;
        }
      }

      .Username {
        margin-top: -4px;
        margin-right: 8px;
      }
    }

    .UserMenu {
      position: absolute;
      top: 16px;
      right: 0;
    }
  }
}