@import 'colors.scss';
@import 'constants.scss';

.SpaceExplorer {
  height: 100vh;
  width: $explorer-width;
  background: $navy-extra-dark;
  position: relative;
  box-shadow: 0 0 6px 0 rgba(black, .3);
  z-index: $app-z-index + 1;

  &Grid {
    display: grid;
    grid-template-columns:  1fr;
    grid-template-rows: $header-height auto;
    height: 100vh;
  }

  &Header {
    width: $explorer-width;
    background: $navy-extra-extra-dark;
    position: relative;

    .Icon {
      margin-top: 6px;
    }
  }

  &List {
    width: $explorer-width;
    overflow: hidden;
    overflow-y: auto;
    padding-top: 28px;

    &Item {
      position: relative;
      cursor: pointer;
      font-size: 18px;
      font-weight: 300;
      
      padding: 8px 20px;
      padding-bottom: 10px;

      &.selected {
        color: $green;
        font-weight: 500;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          width: 2px;
          background-color: $green;
        }
      }

      &.deleting {
        opacity: .2;
        pointer-events: none;
      }

      &:hover {
        background: rgba(black, .2);
      }
    }
  }

  &NewButton {
    position: absolute;
    top: $header-height - 10px;
    left: 18px;
    cursor: pointer;

    path { fill: $white; }

    &:hover {
      path { fill: $green; }
    }

    &:active {
      path { fill: $green-secondary; }
    }
  }
}