@import 'colors.scss';
@import 'layout.scss';
@import 'fonts.scss';

.Space {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 100vh;

  .EnvironmentList {
    .EnvironmentItem {
      position: relative;
      padding: 20px $side-margin;
      box-sizing: border-box;
      cursor: default;

      &:nth-child(odd) {
        background-color: $navy;

        .EnvironmentItemActions {
          background-color: rgba($navy, .8);
        }
      }

      &:hover::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 3px;
        background-color: $green-400;
      }

      .EnvironmentItemIcon {
        height: 20px;
        margin-right: 21px;
        margin-left: 8px;
      }
      
      .EnvironmentItemName {
        height: 20px;
        font-size: 20px;
        line-height: 20px;
        font-weight: 500;
        margin-right: 24px;
        margin-top: -2px;
        width: 20vw;
      }

      .EnvironmentItemEndpoints {
        font-size: 17px;
        font-weight: 200;
        margin-top: -2px;

        a {
          cursor: pointer;
          color: white;
          
          &:not(:last-child) {
            margin-bottom: 14px;
          }

          &:visited {
            color: white;
          }

          &:hover {
            color: $green-400;

            .Icon .colorable {
              fill: $green-400;
            }
          }

          .Icon {
            margin-left: 4px;
            margin-top: 2px;
          }
        }
      }

      &:hover .EnvironmentItemActions {
        display: flex;
      }

      .EnvironmentItemActions {
        display: none;
        position: absolute;
        right: 0;
        height: 100%;
        top: 0;
        padding: 0 24px;

        .ActionButton {
          padding: 8px;
          cursor: pointer;

          &:hover {
            background-color: rgba($white-100, .5);
            border-radius: 48px;
          }
        }
      }
    }

    @media screen and (max-width: 500px) {
      .EnvironmentItem {
        &.layout.horizontal {
          flex-direction: column;
        }

        .EnvironmentItemName {
          width: auto;
        }

        .EnvironmentItemEndpoints {
          margin-top: 18px;
          margin-left: 50px;
        }
      }
    }
  }

  .ActionBar {
    padding: 24px $side-margin;

    .NewButtonContainer {
      position: relative;
    }
  }

  .HintNew {
    user-select: text;
    text-align: left;
    font-size: 16px;

    .HintNewContainer {
      padding: 12px 8px;

      h1 {
        margin-bottom: 8px;
        font-size: 32px;
        line-height: normal;
      }

      code {
        cursor: text;
        margin-top: 12px;
        font-family: $code-font;
        background-color: $black;
        padding: 12px 18px;
        color: $white;
        width: 100%;
        box-sizing: border-box;
        border-radius: 3px;
        font-weight: normal;
        font-size: 24px;

        &.cli:before {
          user-select: none;
          content: '$';
          padding-right: 6px;
          color: $green-400;
        }
      }

      .hint-link-buttons {
        width: 100%;
        margin-top: 12px;
      }
    }
  }
}