@import 'colors.scss';
@import 'constants.scss';
@import 'fonts.scss';

.Space {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: $header-height auto;
  height: 100vh;
  background: $navy;
  z-index: $app-z-index;

  &Header {
    background: $navy-dark;
  }

  &Content {
    position: relative;
    padding-top: 40px;

    .NewButtonContainer {
      position: absolute;
      top: -18px;
      left: $side-margin;

      .NewButton {
        cursor: pointer;

        &:hover {
          path { fill: $green; }
        }

        &:active {
          path { fill: $green-secondary; }
        }
      }
    }
  }

  &Empty {
    position: relative;
    background: $navy-dark;
    padding-top: 48px;
    
    h2 {
      font-size: 28px;
      margin-top: 12px;
    }

    .HintNew {
      padding: 32px 0;
      font-size: 22px;
      font-weight: normal;
      line-height: 24px;
      text-align: center;

      h3 {
        font-size: 22px;
        font-weight: normal;
        line-height: 26px;
      }

      .NewMenuContent {
        padding-top: 18px;

        .MenuItem {
          padding-left: 48px;
          font-size: 20px;
        }
      }
    }
  }

  &Offline {
    position: relative;
    margin: 52px 0;
    
    h2 {
      font-size: 28px;
      margin-top: 12px;
    }

    .Icon {
      opacity: .1;
    }
  }
}

.HintContent {
  user-select: text;
  text-align: left;
  font-size: 16px;

  .step {
    &:not(:first-child) {
      margin-top: 24px;
    }

    .number {
      color: $green;
      font-weight: 600;
      font-size: 32px;
    }
  }

  p {
    margin-bottom: 12px;
    font-size: 20px;
  }

  code {
    cursor: text;
    font-family: $code-font;
    background-color: $black;
    padding: 10px 14px;
    color: $white;
    width: 100%;
    box-sizing: border-box;
    border-radius: 3px;
    font-weight: normal;
    font-size: 20px;
    line-height: 22px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    white-space: nowrap;
    overflow: hidden;
    overflow-x: auto;

    &.cli:before {
      user-select: none;
      content: '$';
      padding-right: 6px;
      color: $green;
    }

    &.cli-okteto:before {
      content: 'okteto>';
    }

    .output {
      color: rgba(white, .6);
    }
  }

  .ClipboardButton {
    padding: 0 10px;
    margin-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}