# https://circleci.com/docs/2.0/configuration-reference/
aliases:
  - &init-gcloud |
    echo $GCLOUD_SERVICE_KEY | gcloud auth activate-service-account --key-file=-
    gcloud --quiet config set project ${GOOGLE_PROJECT_ID}
    gcloud --quiet config set compute/zone ${GOOGLE_COMPUTE_ZONE}
  # standard semver regex as defined in: https://semver.org/
  - &release-regex /^(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(?:-((?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\.(?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\+([0-9a-zA-Z-]+(?:\.[0-9a-zA-Z-]+)*))?$/
  - &release-branch-regex /^release-\d+\.\d+$/
version: 2.1
orbs:
  win: circleci/windows@5.0.0
commands:
  e2e-actions:
    steps:
      - run:
          name: Run actions e2e tests
          command: make e2e-actions

  e2e-build:
    steps:
      - run:
          name: Run build e2e tests
          command: make e2e-build

  e2e-deploy:
    steps:
      - run:
          name: Run deploy e2e tests
          command: make e2e-deploy

  e2e-up:
    steps:
      - run:
          name: Run up e2e tests
          command: make e2e-up
          environment:
            OKTETO_SKIP_CLEANUP: 'true'

  e2e-okteto:
    steps:
      - run:
          name: Run okteto e2e tests
          command: make e2e-okteto

  e2e-deprecated:
    steps:
      - run:
          name: Run deprecated e2e tests
          command: make e2e-deprecated

executors:
  golang-ci:
    docker:
      - image: okteto/golang-ci:2.3.1

jobs:
  build-binaries:
    executor: golang-ci
    resource_class: large
    steps:
      - checkout
      - run:
          name: Build all binaries
          command: env VERSION_STRING=$CIRCLE_TAG make -j 3 build-all
      - run:
          name: Add version string
          command: env VERSION_STRING=$CIRCLE_TAG make latest
      - persist_to_workspace:
          root: .
          paths:
            - bin
      - store_artifacts:
          path: bin
          destination: binaries
  run-unit-test:
    executor: golang-ci
    steps:
      - checkout
      - run:
          name: Check go.mod and go.sum
          command: go mod tidy && git diff --exit-code go.sum > /dev/null
      - run:
          name: Compile e2e tests
          command: make build-e2e
      - run:
          name: Test
          command: |
            make test
            bash <(curl -s https://codecov.io/bash)
      - save_cache:
          key: v4-pkg-cache-{{ checksum "go.sum" }}
          paths:
            - ~/.cache/go-build
            - /go/pkg
      - store_artifacts:
          path: coverage.txt
          destination: coverage.txt
  run-windows-unit-test:
    executor: win/default
    environment:
      OKTETO_USER: cindylopez
    steps:
      - checkout
      - run:
          name: Check Golang version
          command: go version
      - restore_cache:
          keys:
            - v5-pkg-cache-windows-1-15-{{ checksum "go.sum" }}
      - run:
          name: Run unit tests
          command: |
            go mod download
            go version
            go test ./...
  test-e2e:
    executor: golang-ci
    resource_class: large
    environment:
      OKTETO_URL: https://staging.okteto.dev/
      OKTETO_USER: cindylopez
      OKTETO_APPS_SUBDOMAIN: staging.okteto.net
    steps:
      - checkout
      - restore_cache:
          keys:
            - v4-pkg-cache-{{ checksum "go.sum" }}
      - attach_workspace:
          at: ./artifacts
      - run:
          name: Prepare env
          command: |
            mkdir -p $HOME/.okteto
            touch $HOME/.okteto/.noanalytics
            echo $HOME
            sudo chown -R $(whoami) /usr/local/bin
            curl -L "https://storage.googleapis.com/kubernetes-release/release/$(curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt)/bin/linux/amd64/kubectl" -o /usr/local/bin/kubectl
            chmod +x /usr/local/bin/kubectl
            cp $(pwd)/artifacts/bin/okteto-Linux-x86_64 /usr/local/bin/okteto
             /usr/local/bin/okteto login --token ${API_STAGING_TOKEN}
      - e2e-deploy
      - e2e-up
      - e2e-actions
      - e2e-okteto
      - e2e-deprecated
      - e2e-build
      - save_cache:
          key: v4-pkg-cache-{{ checksum "go.sum" }}
          paths:
            - ~/.cache/go-build
            - /go/pkg
      - store_artifacts:
          path: /root/.okteto
  test-release:
    executor: golang-ci
    steps:
      - checkout
      - attach_workspace:
          at: ./artifacts
      - add_ssh_keys:
          fingerprints:
            - f7:81:9f:b4:31:3a:4d:46:ce:cf:54:a2:70:46:5a:df
      - deploy:
          name: Update brew formula
          command: |
            sha=$(cat ./artifacts/bin/okteto-Darwin-x86_64.sha256 | awk '{print $1}')
            sha_arm=$(cat ./artifacts/bin/okteto-Darwin-arm64.sha256 | awk '{print $1}')
            ./scripts/update_homebrew_formula.sh 0.0.1 $sha $sha_arm
      - setup_remote_docker
      - run:
          name: Build Docker container
          command: |
            export DOCKER_BUILDKIT=1
            docker build -t okteto --build-arg VERSION_STRING=$CIRCLE_SHA1 .

  run-windows-e2e-test:
    executor: win/default
    environment:
      OKTETO_USER: cindylopez
    steps:
      - checkout
      - run:
          name: Check Golang version
          command: go version
      - restore_cache:
          keys:
            - v5-pkg-cache-windows-1-15-{{ checksum "go.sum" }}
      - run:
          name: Run unit tests
          command: |
            go mod download
            go version
            go test ./...
      - run:
          name: Upgrade kubectl
          command: choco install kubernetes-cli -y
      - run:
          name: Upgrade helm
          command: choco install kubernetes-helm -y
      - attach_workspace:
          at: .\artifacts
      - run:
          name: Prepare env
          environment:
            - OKTETO_URL: https://staging.okteto.dev/
          command: |
            new-item $HOME\.okteto -itemtype "directory" -force
            new-item $HOME\.okteto\.noanalytics -itemtype "file" -value "noanalytics" -force
            & "$($HOME)\project\artifacts\bin\okteto.exe" login --token $env:API_STAGING_TOKEN
            & "$($HOME)\project\artifacts\bin\okteto.exe" kubeconfig
      - run:
          name: Run deprecated e2e tests
          environment:
            - OKTETO_URL: https://staging.okteto.dev/
            - OKTETO_SKIP_CLEANUP: 'true'
            - OKTETO_APPS_SUBDOMAIN: staging.okteto.net
          command: |
            $env:OKTETO_PATH="$($HOME)\project\artifacts\bin\okteto.exe"
            go test github.com/okteto/okteto/e2e/deprecated/push -tags="e2e" --count=1 -v -timeout 15m
            go test github.com/okteto/okteto/e2e/deprecated/stack -tags="e2e" --count=1 -v -timeout 15m
      - run:
          name: Run build e2e tests
          environment:
            - OKTETO_URL: https://staging.okteto.dev/
            - OKTETO_SKIP_CLEANUP: 'true'
            - OKTETO_APPS_SUBDOMAIN: staging.okteto.net
          command: |
            $env:OKTETO_PATH="$($HOME)\project\artifacts\bin\okteto.exe"
            go test github.com/okteto/okteto/e2e/build -tags="e2e" --count=1 -v -timeout 10m
      - run:
          name: Run deploy e2e tests
          environment:
            - OKTETO_URL: https://staging.okteto.dev/
            - OKTETO_SKIP_CLEANUP: 'true'
            - OKTETO_APPS_SUBDOMAIN: staging.okteto.net
          command: |
            $env:OKTETO_PATH="$($HOME)\project\artifacts\bin\okteto.exe"
            go test github.com/okteto/okteto/e2e/deploy -tags="e2e" --count=1 -v -timeout 20m
      - run:
          name: Run up e2e tests
          environment:
            - OKTETO_URL: https://staging.okteto.dev/
            - OKTETO_SKIP_CLEANUP: 'true'
            - OKTETO_APPS_SUBDOMAIN: staging.okteto.net
          command: |
            $env:OKTETO_PATH="$($HOME)\project\artifacts\bin\okteto.exe"
            go test github.com/okteto/okteto/e2e/up -tags="e2e" --count=1 -v -timeout 45m
      - store_artifacts:
          path: C:\Users\circleci\.okteto

      - save_cache:
          key: v5-pkg-cache-windows-1-15-{{ checksum "go.sum" }}
          paths:
            - C:\Users\circleci\AppData\Local\go-build
            - C:\Users\circleci\go\pkg
            - C:\Go\pkg

  push-image-tag:
    executor: golang-ci
    steps:
      - checkout
      - setup_remote_docker
      - run: ./scripts/ci/push-image.sh "$CIRCLE_TAG"

  push-image-latest:
    executor: golang-ci
    steps:
      - checkout
      - setup_remote_docker
      - run: ./scripts/ci/push-image.sh latest

  upload-static:
    executor: golang-ci
    steps:
      - checkout
      - run: *init-gcloud
      - run: 'gsutil -m -h "Cache-Control: no-store" -h "Content-Type: text/x-sh" cp ./scripts/get-okteto.sh gs://get.okteto.com/get-okteto.sh'

  release-external:
    executor: golang-ci
    steps:
      - checkout
      - attach_workspace:
          at: ./artifacts
      - run: *init-gcloud
      - setup_remote_docker
      - add_ssh_keys:
          fingerprints:
            - f7:81:9f:b4:31:3a:4d:46:ce:cf:54:a2:70:46:5a:df
      - deploy:
          name: Update brew formula
          command: |
            sha=$(cat ./artifacts/bin/okteto-Darwin-x86_64.sha256 | awk '{print $1}')
            sha_arm=$(cat ./artifacts/bin/okteto-Darwin-arm64.sha256 | awk '{print $1}')
            ./scripts/update_homebrew_formula.sh $CIRCLE_TAG $sha $sha_arm
            pushd homebrew-cli
            git push git@github.com:okteto/homebrew-cli.git master
      - deploy:
          name: Auto-update-actions
          command: ./scripts/ci/release-github-actions.sh $CIRCLE_TAG

  release:
    executor: golang-ci
    steps:
      - checkout
      - attach_workspace:
          at: ./artifacts
      - run: *init-gcloud
      - run: ./scripts/ci/release.sh

  release-branch:
    executor: golang-ci
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints:
            - a1:66:22:e1:67:66:fb:d6:3b:a2:7a:6c:d9:9a:46:ba
      - run: ./scripts/ci/release-branch.sh


workflows:
  version: 2

  upload-static:
    jobs:
      - upload-static:
          context: GKE
          filters:
            branches:
              only:
                - master
  test:
    when:
      not:
        equal: [scheduled_pipeline, << pipeline.trigger_source >>]
    jobs:
      - build-binaries:
          filters:
            branches:
              ignore: *release-branch-regex
            tags:
              ignore: /.*/
      - run-unit-test:
          filters:
            branches:
              ignore: *release-branch-regex
            tags:
              ignore: /.*/
      - run-windows-unit-test:
          filters:
            branches:
              ignore: *release-branch-regex
            tags:
              ignore: /.*/
      - run-windows-e2e-test:
          requires:
            - build-binaries
          filters:
            branches:
              only:
                - master
                - /.*(windows|win)/
      - test-e2e:
          requires:
            - build-binaries
          filters:
            branches:
              only:
                - master
                - /.*(e2e)/
      - test-release:
          context: GKE
          requires:
            - build-binaries
          filters:
            tags:
              ignore: /.*/
            branches:
              ignore:
                - master
                - *release-branch-regex
      - push-image-latest:
          requires:
            - build-binaries
          filters:
            branches:
              only: master

  release-branch:
    jobs:
      - build-binaries:
          filters:
            branches:
              only: *release-branch-regex
            tags:
              ignore: /.*/
      - run-unit-test:
          filters:
            branches:
              only: *release-branch-regex
            tags:
              ignore: /.*/
      - run-windows-unit-test:
          filters:
            branches:
              only: *release-branch-regex
            tags:
              ignore: /.*/
      - run-windows-e2e-test:
          filters:
            branches:
              only: *release-branch-regex
          requires:
            - build-binaries
      - test-e2e:
          filters:
            branches:
              only: *release-branch-regex
          requires:
            - build-binaries
      - release-branch:
          requires:
            - run-windows-e2e-test
            - test-e2e
            - run-unit-test
            - run-windows-unit-test
          filters:
            branches:
              only: *release-branch-regex

  release-dev:
    when:
      and:
        - equal: [scheduled_pipeline, << pipeline.trigger_source >>]
        - equal: ["release-dev", << pipeline.schedule.name >>]
    jobs:
      - build-binaries
      - run-unit-test
      - run-windows-unit-test
      - push-image-tag:
          requires:
            - build-binaries
      - release:
          context: GKE
          requires:
            - push-image-tag

  release:
    when:
      not:
        equal: [scheduled_pipeline, << pipeline.trigger_source >>]
    jobs:
      - build-binaries:
          filters:
            branches:
              ignore: /.*/
            tags:
              only:
                - *release-regex
      - push-image-tag:
          requires:
            - build-binaries
          filters:
            branches:
              ignore: /.*/
            tags:
              only:
                - *release-regex
      - release:
          context: GKE
          requires:
            - push-image-tag
          filters:
            branches:
              ignore: /.*/
            tags:
              only:
                - *release-regex
      - release-external:
          context: GKE
          requires:
            - release
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^\d+\.\d+\.\d+$/
