<!DOCTYPE html>
<html>
  <head>
    <title>Okteto</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="icon" href="favicon.ico">
    <style>
      html, body {
        margin: 0;
        padding: 0;
        background-color: #1E222B; 
        height: 100%;
      }

      .full-screen {
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
      }
    </style>
  </head>
  <body>
    <div id="app" class="full-screen"></div>
  </body>
</html>
